<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>add JobRole</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-3">
                    <h1>JobRole</h1>
                    <nav>
                        <ul class="nav">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="form" class="bg-light py-3">
            <div class="container">
                <h2>Enter job role details</h2>
                <form action="/admin/job-roles" method="post">
                    <div class="form-group">
                        <label for="title">Job role title</label>
                        <input type="text" id="title" name="title" class="form-control" value="{{ title }}" required>
                    </div>
                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <input type="text" id="summary" name="summary" class="form-control" value="{{ summary }}" required>
                    </div>
                    <div class="form-group">
                        <label for="sharepoint_link">Sharepoint link</label>
                        <input type="text" id="sharepoint_link" name="sharepoint_link" class="form-control" value="{{ sharepoint_link }}" required>
                    </div>
                    <button type="submit" id="submitButton" onclick="showPrompt()">Submit</button>
                </form>
                {% if errormessage %} 
                <script>
                    function showPrompt() {
                            alert("Job role has NOT been added succesfully");
                    }
                </script>                
                {% else %}
                <script>
                    function showPrompt() {
                            alert("Job role has been added succesfully");
                    }
                </script> 
                {% endif %}
            </div>
        </section>  
        <footer class="bg-dark text-light py-3">
            <div class="container text-center">
                <p>&copy; Company Management Platform 2023</p>   
            </div>
        </footer>
    </main>
</body>
</html>