{% include "./base/header.html" %}
<div class="container col-sm-10 col-md-8 col-lg-8 mt-4">
    <section id="form" class="mt-4">
        <h2>Enter job role details</h2>
            {% if successMessage %}
        <div class="alert alert-success" role="alert">{{successMessage}}</div>
            {% endif %}

            {% if errorMessage %}
        <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
            {% endif %}
        <form action="/admin/job-roles" method="post">
            <div class="form-group">
                <label for="roleTitle">Title</label>
                <input type="text" id="roleTitle" name="roleTitle" class="form-control" value="{{ roleTitle }}" required>
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                <textarea rows="15" type="text" id="summary" name="summary" class="form-control" value="{{ summary }}" required></textarea>
            </div>
            <div class="form-group">
                <label for="link">Sharepoint link</label>
                <input type="text" id="link" name="link" class="form-control" value="{{ link }}" required>
            </div>
            <div class="form-group">
                <label for="band_id">band_id</label>
                <input type="number" id="band_id" name="band_id" class="form-control" value="{{ band_id }}" required>
            </div>
            <button type="submit" id="submitButton">Submit</button>
        </form>
    </section>
</div>

{% include "./base/footer.html" %}
